<div class="container text-center">
    <p>
        <img class="SLP-logo" src="{{ function('bloginfo','template_directory') }}/dist/images/KSLP_white.png" alt="Kiwanis SLP">
    </p>
    <p>
        &copy; 2000 - {{ "now"|date('Y') }} California-Nevada-Hawaii District of Circle K International.
        <br />
        All rights reserved.
    </p>
</div>