{% extends "base.twig" %}

{% block content %}

    <div id="nav-dcon" data-spy="affix" data-offset-top="118">
        <div class="container container_no-padding">
            <nav class="navbar navbar-default navbar-dcon">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand navbar-brand-dcon">District Convention 2017</a>
                </div>
                <div class="collapse navbar-collapse" id="secondary-nav">
                    <ul class="nav navbar-nav-dcon navbar-nav navbar-right">
                        <li><a href="#about">About</a></li>
                        <li><a href="#attend">Attend</a></li>
                        <li><a href="#announcements">Announcements</a></li>
                        <li><a href="#forms">Applications & Forms</a></li>
                        <li><a href="#committee">Committee</a></li>
                        <li><a href="#faqs">FAQs</a></li>
                        <li><a href="#deadlines">Deadlines</a></li>
                        <li><a href="#"><i class="fa fa-lg fa-facebook-official"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <article class="post post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
        <div class="dcon__header">
            <div class="container dcon__header-container">
                <div class="row">
                    <div class="col-md-7 col-lg-12 dcon__banner-wrapper">
                        <img class="img-responsive"
                             src="{{ function('bloginfo','template_directory') }}/dist/images/dcon/banner.jpg">
                    </div>
                </div>

                <div class="row dcon__header-content">
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/1fU1zrZ1xzc" frameborder="0" class="embed-responsive-item"></iframe>
                        </div>
                    </div>

                    <div class="col-md-6 dcon__countdown-wrapper">
                        <div class="dcon__countdown">
                            <div class="dcon-clock-unit">
                                <div class="dcon-clock-unit-time" id="dcon-clock-days"></div>
                                Days
                            </div>

                            <div class="dcon-clock-unit">
                                <div class="dcon-clock-unit-time" id="dcon-clock-hours"></div>
                                Hours
                            </div>

                            <div class="dcon-clock-unit">
                                <div class="dcon-clock-unit-time" id="dcon-clock-minutes"></div>
                                Minutes
                            </div>

                            <div class="dcon-clock-unit">
                                <div class="dcon-clock-unit-time" id="dcon-clock-seconds"></div>
                                Seconds
                            </div>
                        </div>
                        <p>Until district convention</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container_white">
            <div class="post__content dcon__content">
                <div class="row">
                    <div class="col-xs-12">
                        {{ post.content }}
                    </div>
                </div>

                {% block after_content %}{% endblock %}
            </div>
        </div>
    </article>
{% endblock %}
