{% extends "page.twig" %}

{% block post_header_right %}
    <img src="http://lorempixel.com/60/60" alt="{{ post.author.name }}" class="img-circle">
    <div class="author">
        <div class="author__name">{{ post.author.name }}</div>
        <div class="author__other">Position</div>
    </div>
{% endblock %}

{% block after_content %}
    {% if post.comment_status != 'closed' %}
        <div class="row">
            <div class="col-xs-12">
                {# Disqus goes here #}
            </div>
        </div>
    {% endif %}
{% endblock %}
