$dcon-teal: #008080;

.dcon {
  background-color: black;

  header {
    .navbar {
      margin-bottom: 0;
    }
  }
}

#nav-dcon {
  &.affix {
    top: 0;
    text-align: center;
    margin: 0 auto;
    z-index: 99999;
    width: 100%;
  }
}

.navbar-dcon {
  background-color: black;
  border-color: transparent;
  margin-bottom: 0;
}

.navbar-brand-dcon {
  color: white !important;
}

.navbar-nav-dcon {
  color: white;

  li {
    a {
      color: white !important;
    }
  }
}

.dcon__hero {
  width: 100%;
  text-align: center;
  min-height: 0;
  margin-bottom: -20px;

  @media (min-width: $screen-sm-min) {
    min-height: 250px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-md-min) {
    min-height: 350px;
  }

  @media (min-width: $screen-lg-min) {
    min-height: 500px;
  }

  .dcon__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    background-color: #000;

    @media (max-width: $screen-sm-min) {
      display: none;
    }
  }
}

.dcon__header {
  margin-left: 0;
  margin-right: 0;

  .dcon__header-container {
    background-color: #000;
  }

  .dcon__banner-wrapper {
    margin: 0;
    padding: 0;
  }

  .dcon__countdown-wrapper {
    margin-top: 15px;

    p {
      margin-top: 15px;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      font-size: $font-size-h3;
    }

    @media (min-width: $screen-md-min) {
      margin-top: 50px;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 70px;
    }
  }
}

.dcon__countdown {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.dcon-clock-unit {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: $font-size-h4;
  margin: 5px;

  .dcon-clock-unit-time {
    font-size: $font-size-h1;
  }
}

$dcon-header-padding-vertical: 3px;
$dcon-header-triangle-size: 13px;
$dcon-header-triangle-height: $dcon-header-triangle-size + $dcon-header-padding-vertical;
$dcon-header-bg-color: #000;

.dcon__content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  h3.widget-title{
    width: 100%;
    color: white;
    text-align: left;
    font-weight: bold;
    position: relative;
    border-bottom: 2px solid white;
    font-size: $font-size-h2;
  }

  .widget {
    margin-bottom: 0 !important;

    &:nth-child(even) {
      background-color: $dcon-teal;
      color: white;
      margin-left: -30px;
      margin-right: -30px;
      padding: 15px 30px;
    }

    &:nth-child(odd) {
      background-color: black;
      color: #fff;
      margin-left: -30px;
      margin-right: -30px;
      padding: 15px 30px;
    }
  }

  .btn-primary {
    background-color: $dcon-teal;

    &:hover {
      background-color: darken($dcon-teal, 5%);
    }
  }
}

.dcon__header-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black !important;
}
