.ge-link { background-image: url('http://www.cnhcirclek.org/app/uploads/2017/04/34269306471_b8223b9ea3_o.jpg'); background-repeat: no-repeat; background-size: contain;} 

.ge-link:hover { background-image: url('http://www.cnhcirclek.org/app/uploads/2017/04/34269305871_b5c8692837_o.jpg'); background-repeat: no-repeat; background-size: contain;}