#front-page {
  #hero {
    *:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background: url(../images/stc_south.jpg) center;
      background-size: cover;
    }

    min-height: 500px;
    padding-top: 40px;

    .frost-panel {
      color: white;
      background-color: rgba(5, 48, 87, .82);
    }

    .jumbotron-header {
      * {
        display: inline-block;
        padding: 10px 25px;
        font-weight: 600;
      }
    }

    .jumbotron {
      @include make-md-column(6);
      padding: 25px;
      border-radius: 0;
    }
  }

  #we-support {
    .container {
      background-color: white;
    }

    .we-support__wrapper {
      display: flex;
      max-width: 700px;
      margin: auto;

      div {
        flex: 1;
      }
    }
  }

  #tenets {
    background-color: $cki-navy-blue; // Super hacky to cover up the hero image. Should fix later

    .tenet {
      background-color: rgb(77,77,76); // Also hacky way to make the color overlay
      max-height: 200px;
      padding: 0;

      .tenet__bg {
        width: 100%;

        img {
          opacity: 0.8;
          z-index: 0;
          object-fit: cover;
          width: 100%;
          height: 200px;
        }
      }

      .tenet__body {
        padding: 0 10px;
        position: absolute;
        color: white;
        top: 0;
      }
    }
  }

  #news {
    .container {
      background-color: $gray-lighter;
    }
  }
}