.post {
  .post__header {
    position: relative;
    color: white;

    .header-image {
      z-index: -1;
      position: absolute;
      bottom: 0;
      
      img {
        object-fit: cover;
        width: 100%;
        height: 500px;
      }
    }


  }
}