$cki-navy-blue: #053057;

// Font
@import 'https://fonts.googleapis.com/css?family=PT+Sans:400,700';
$font-family-sans-serif: "Myriad Pro", "PT Sans", Helvetica, Arial, sans-serif !default;

// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: $cki-navy-blue;
$body-bg: $cki-navy-blue !default;

// Border radius
$panel-border-radius: 0 !default;
$list-group-border-radius: 0 !default;
$navbar-border-radius: 0 !default;