// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}

.row_valign {
  font-size: 0;

  & > * {
    float: none;
    display: inline-block;
    font-size: $font-size-base;

    &:last-child {
      vertical-align: bottom;
    }
  }

  p:last-child {
    margin-bottom:0;
  }
}